.sidebar{
    background-color:aqua;
    color: blue;
    width: 200px; ;
    height: 100%; ;
    position: fixed;
    padding-top: 20px;
    top: 0%;
    left: 0%;
}
ul{
    list-style: none;margin-top: 10px;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
a{
    text-decoration: none;
    color: black;


}
a:hover{
    background-color:darkorchid ;
    color: black;
}
.rounded-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow-y: none;
}